/* PHASE 0: Reset */

html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {

}

ul {  /* <= had .ba, but after removing, it removed bullets form nav bar*/
  list-style-type: none;
}

* {
  box-sizing: content-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  cursor: pointer;
}

button,
input[type="submit"] {
  -webkit-appearance: none;
}
