/* PHASE 1: Header */

body {
  font-weight: 500;
  font-family: 'Open Sans';
  font-size: 100%;
}

header {
  font-weight: 600;
  font-size: 100%;
}

.header-nav {
  font-weight: 400;
  font-size: 100%;
}

.header-list {
  font-weight: 300;
  font-size: 90%;
}

