
<% if type == :new %>
    <% action_url = users_url %>
    <% button_text = "create user!" %>
<% elsif type == :edit %>
    <% action_url = user_url(user.id) %>
    <% button_text = "update user!" %>
<% end %>

<form action="<%= action_url %>" method="POST">
 <input type="hidden" name="authenticity_token" value=<%= form_authenticity_token %>>
    <% if type == :edit %>
        <input type="hidden" name="_method" value="PATCH">
    <% end %>

    <label for="username">Username:
        <input type="text" id="username" name="user[username]">
    </label>

    <label for="password">Password:
        <input type="text" id="password" name="user[password]">
    </label>

    <% if type == :edit %>
        <input type="submit" value="Edit User">
    <% else %>
        <input type="submit" value="Create User">
    <% end %>
</form>