.sections-sidebar{
    opacity: 0;
    z-index: 10;
    left: 0;
    position: absolute;

    .dropdown {
        position: relative;
    }

    .dropdown > ul {
        position: absolute;
        display: block;
        /* use top, left, right, bottom to position */
        // z-index: 10;

        left: 0px;
        padding: 10px;
        border: 1px solid $light-gray;
        color: $dark_gray;

        width: 150px;

        text-align: left;
        font-family: $sans-serif;
        background-color: $lightest-gray;
        color: $dark-gray;
        box-shadow: -1px 4px 6px 1px rgba(0, 0, 0, 0.09);
        // left: 200px;
        // padding: 10px;
        // border: 1px solid $light-gray;
        // color: $dark_gray;

        // width: 150px;

        // text-align: left;
        // font-family: $sans-serif;
        // background-color: $lightest-gray;
        // color: $dark-gray;
        // box-shadow: -1px 4px 6px 1px rgba(0, 0, 0, 0.09);
    }

    .dropdown:hover > ul {
        /* applies the following style to uls inside .dropdown */
        /* but only when .dropdown is being hovered over */
        display: block;
        left: 200px;
        padding: 10px;
        border: 1px solid $light-gray;
        color: $dark_gray;

        width: 150px;

        text-align: left;
        font-family: $sans-serif;
        background-color: $lightest-gray;
        color: $dark-gray;
        box-shadow: -1px 4px 6px 1px rgba(0, 0, 0, 0.09);
    }
}

.sections-sidebar.expand{
    opacity: 1;
    display: flex;
    width: 200px;

    padding: 5px 5px;

    font-family: $sans-serif;
    font-weight: bold;
    font-size: 10px;
}

